build
dist / media
node_modules
.DS_Store
.env
.next
.vercel
package-lock.json
pnpm-lock.yaml
src/payload-types.ts
importMap.js

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml
src/payload-types.ts
